body {
  padding: 5% 8% 0;
  text-align: center;

  font-size: 7vw;
  text-transform: uppercase;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #b29bb9;
}
::placeholder {
  color: rgb(233, 231, 231);
  letter-spacing: 0.5vw;
}
::selection {
  background: lightgray;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dashed grey;
}
a:active {
  border-bottom: 1px solid black;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  height: 100%;
}
.title {
  font-family: fenway-park-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  font-size: 8vw;
  margin-top: 2%;
  color: #313131;
}
.input {
  margin-top: 7%;
}
input {
  display: inline;
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  color: rgb(233, 231, 231);
  text-align: center;
  resize: none;
  width: 60%;
  text-transform: uppercase;
  background-color: #b29bb9;
  letter-spacing: 0.5vw;
  outline: none;
}

.words {
  text-align: center;
  width: 100%;
}

.word > div {
  display: inline-block;
  border: 1px black solid;
  border-radius: 1vw;
  padding: 1vw;
  width: 9vw;
  margin: 1vw;
  cursor: pointer;
  background-color: white;
}

.material-icons {
  font-size: 8.5vw;
  color: #313131;
}

.checkButton {
  display: none;
}

.clicksplain {
  margin-top: 3.5%;
  display: none;
  font-weight: 600;
  font-size: 4.5vw;
  letter-spacing: 0.5vw;
}

.possibles {
  display: none;
}

.dugward {
  font-size: 5vw;
  text-align: center;
  font-family: fenway-park-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  margin-top: 110%;
  color: rgb(77, 76, 76);
}

@media (hover: hover) {
  .material-icons:hover {
    color: rgb(53, 53, 53);
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 600px) {
  body {
    font-size: 4vw;
  }

  .word > div {
    padding: 0.5vw;
    width: 6vw;
    margin: 0.5vw;
    cursor: pointer;
    background-color: white;
  }

  .title {
    font-size: 6vw;
  }

  .clicksplain {
    font-size: 2.5vw;
  }

  .material-icons {
    margin-top: 3%;
    font-size: 3.5vw;
    color: rgb(22, 22, 22);
  }
}

/* Larger than desktop */
@media (min-width: 1100px) {
  body {
    font-size: 2vw;
    padding-top: 0;
  }

  .input {
    margin-top: 4%;
  }

  .word > div {
    padding: 0.5vw;
    width: 3vw;
    margin: 0.3vw;
    cursor: pointer;
    background-color: white;
  }

  .title {
    font-size: 4vw;
  }

  .clicksplain {
    font-size: 1.5vw;
  }

  .material-icons {
    margin-top: 3%;
    font-size: 3vw;
    color: rgb(22, 22, 22);
  }
}
